.policy-wrapper {
    padding: 30px;
}

.policy-main-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.policy-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    line-height: 1.2;
}

.policy-list {
    margin: 25px 0 0 0;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
}

.policy-item {
    margin: 15px 0 0 0;
}

.circle {
    margin: 15px 0 0 17px;
    list-style-type: disc;
}

.big {
    font-weight: 500;
}