.services {
    padding: 70px 0 50px;
    &__items {
        padding: 60px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__wrapper {
        min-height: 200px;
        flex: 0 1 20%;
    }
    &__item {
        padding: 20px 15px;
    }

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:last-child) {
        margin: 0 0 30px 0;
    }
    &__icon {
        position: relative;
        width: 70px;
        height: 70px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        font-weight: 500;
    }   
}